// Self-hosted font faces for adidasfont (TeX Gyre Adventor uploads)
// Note: OTFs are used now; we can swap to WOFF2 later for smaller files.

@font-face {
  font-family: 'adidasfont';
  src: url('/fonts/adidasfont/woff2/adidasfont-regular.woff2') format('woff2'),
       url('/fonts/adidasfont/woff/adidasfont-regular.woff') format('woff'),
       url('/fonts/adidasfont/otf/adidasfont-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'adidasfont';
  src: url('/fonts/adidasfont/woff2/adidasfont-italic.woff2') format('woff2'),
       url('/fonts/adidasfont/otf/adidasfont-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'adidasfont';
  src: url('/fonts/adidasfont/woff2/adidasfont-bold.woff2') format('woff2'),
       url('/fonts/adidasfont/otf/adidasfont-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'adidasfont';
  src: url('/fonts/adidasfont/woff2/adidasfont-bolditalic.woff2') format('woff2'),
       url('/fonts/adidasfont/otf/adidasfont-bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}